<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/maxnau/index.json" />
  </packageSources>

  <packageSourceCredentials>
    <github>
      <add key="Username" value="maxnau" />
      <add key="ClearTextPassword" value="${{ secrets.GITHUB_TOKEN }}" />
    </github>
  </packageSourceCredentials>
</configuration>